* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "inter", sans-serif;
    /* background: linear-gradient(to left, rgb(76 58 16), black, black, black, black, black, black, black, rgb(76 58 16)); */
}

main {
    background-color: black;
}

/* HEADER */

header {
    height: 837px;
    background-image: url(img/home-img-two.jpg);
    background-position: center;
    background-size: cover;
}

header img {
    height: 700px;
}

.home-colors {
    display: flex;
    align-items: center;
    height: 837px;
    width: 100%;
    background: linear-gradient(black, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
}

.checked {
    color: orange;
}

.fa {
    margin-top: 10px;
}

.book-desc {
    color: white;
    margin-left: -100px;
}

.book-btn {
    margin-right: 30px;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.book-desc h1 {
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.book-desc h2 {
    font-size: 24px;
}

.book-desc p {
    font-style: italic;
    font-size: 20px;
    margin-top: 40px;
}

.book-btn:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.book-btn a {
    text-decoration: none;
}

.book-desc p a {
    text-decoration: none;
    color: orange;
}

.home-colors div {
    margin-top: 40px;
}

.kl p {
    margin-top: 80px;
}

/* NAVIGATION BAR */
nav {
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo-flex {
    display: flex;
    align-items: center;
}

.logo-flex div {
    margin-left: 20px;
}

.logo-flex div p:nth-child(1) {
    color: #f59f00;
    font-size: 26px;
    font-weight: 600;
}

.logo-flex div p:nth-child(2) {
    font-style: italic;
    font-size: 16px;
}

.logo {
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 30px;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    transition: .5s;
    color: #f08c00;
}

/* CARD ARTICLE */


.flex-nikolay {
    display: flex;
    align-items: center;
    background-color: black;
}

.flex-monique {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.card div img {
    height: 500px;
}

.card-desc-nikolay {
    width: 800px;
    margin-left: 100px;
    color: white;
}

.card-desc-monique {
    width: 800px;
    margin-left: 100px;
    color: black;
}

.card-desc-nikolay p {
    font-weight: 300;
    margin-top: 30px;
}

.card-desc-monique p {
    font-weight: 300;
    margin-top: 30px;
}

.card-desc p:nth-child(1) {
    margin-top: 1px;
}

.monique {
    background-color: white;
}

/* COMMENTS */

.card-comments-long {
    width: 995px;
    border: 1px solid white;
    background-color: #f1f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}

.card-comments-long p {
    margin-top: 10px;
    text-align: center;
}

.card-comments-short p {
    margin-top: 10px;
    text-align: center;
}

.comments {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    height: 900px;
}

.comments-flex {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card-comments-short {
    padding: 10px 10px;
    width: 495px;
    border-radius: 2px;
    background-color: #f1f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.comments p:nth-child(5) {
    margin-top: 20px;
    color: orange;
}

.comments p:nth-child(5) a {
    text-decoration: none;
    color: orange;
}

/* FOOTER */

footer {
    margin-top: 30px;
    background-color: #0c0d0e;
    color: #f8f9fa;
}

footer p {
    line-height: 30px;
}

.footer-flex {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footer-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-copyright {
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-instagram {
    font-size: px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: #f8f9fa;
}

.footer-link {
    text-decoration: none;
    color: #f8f9fa;
}

.footer-link:hover {
    color: #ffa94d;
}